/* colors
 teal : #0C4A60
 coral: #EF6C33
 iceblue: #ABDFF1
 gray: #E1DDDB

 pink:9F4298
 green: CFDB31
 violet: D1AFD3
 gray: E6E7E8

*/


$color-teal: #0C4A60;
$color-coral: #EF6C33;
$color-iceblue: #ABDFF1;
$color-gray: #E1DDDB;
$color-white: #fff;
$color-black: #000;