
.header {
    height: 150vh;
    background-image: linear-gradient( to bottom, rgba($color-iceblue, 0.8), rgba($color-teal, 0.8)), url(../images/goldengate2.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 50% 80%, 0 60%);
    &__text-box {
        position: absolute;
        top: 69%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}