body{
  background-color:lightgray;
  margin: 0 auto;
}

h2{
  text-align:center;
  font-family: 'Oswald', sans-serif;
  letter-spacing:1px;
  padding-top:40px;
  font-size: 3em;
  color: #1A2530;
}



.todo{
  width:500px;
  margin:0 auto;
}

form {
  display: inline-block;
  padding-top: 20px;
  margin-left:10%;
}

input{
  width:400px;
  height:40px;
  font-size:1em;
  padding-left:10px;
}

ol {
  background-color:#1A2530;
  color:#E3D8C9;
  width:600px;
  min-height:80px;
  margin-top:30px;
  padding:20px 15px 10px 40px;
  font-size:1.5em;
  margin-left: -60px;
}

ol li{
  font-size: .9em;
  padding:3px 3px;
  font-family: 'Lato', sans-serif;
}

.delete{
  width:25px;
  height:25px;
  display:inline-block;
  float:right;
  line-height:24px;
  background-color:tomato;
  text-align:center;
  cursor:pointer;
}